In [537]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [179]:
data = pd.read_csv('C:/Users/enasy/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
352,tt0758746,19000000,91379051,Friday the 13th,Derek Mears|Jared Padalecki|Danielle Panabaker...,Marcus Nispel,Welcome to Crystal Lake,"Ignoring the warnings of the locals, a group o...",97,Horror,New Line Cinema,2/11/2009,5.6,2009
485,tt1314655,10000000,33583175,Devil,Chris Messina|Jacob Vargas|Bojana NovakoviÄ‡|L...,John Erick Dowdle,Bad Things Happen For A Reason,A group of people trapped in a elevator realiz...,80,Horror|Mystery|Thriller,Universal Pictures|Media Rights Capital|Night ...,1/13/2010,5.6,2010
987,tt1649419,42000000,180274123,Lo imposible,Naomi Watts|Ewan McGregor|Tom Holland|Samuel J...,Juan Antonio Bayona,Nothing is more powerful than the human spirit.,"In December 2004, close-knit family Maria (Nao...",113,Drama,Summit Entertainment|Telecinco Cinema|Apaches ...,9/9/2012,6.8,2012
1436,tt0381061,150000000,599045960,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,Martin Campbell,Everyone has a past. Every legend has a beginn...,"Le Chiffre, a banker to the world's terrorists...",144,Adventure|Action|Thriller,Eon Productions,11/14/2006,7.1,2006
518,tt0183790,65000000,117487473,A Knight's Tale,Heath Ledger|Rufus Sewell|Shannyn Sossamon|Pau...,Brian Helgeland,He Will Rock You,"William Thatcher, a peasant, is sent to appren...",132,Adventure|Drama|Romance|Action,Columbia Pictures Corporation|Escape Artists|B...,5/11/2001,6.5,2001

In [180]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [666]:
# creates dictionary for answers:
answers = {} 

# Adds additional column showing profit:
data['profit'] = data['revenue'] - data['budget']


# Devides items in any column by "|" symbol and returns a list:
def column_list(column):
    column_list = []
    for s in column:
        column_list.extend(s.split("|"))
    return(column_list)


# Devides items in any column by "|" symbol and returns a set (only unique names):
def column_set(column):
    column_list = []
    for s in column:
        column_list.extend(s.split("|"))
    column_set = set(column_list)
    return(column_set)

# 1. У какого фильма из списка самый большой бюджет?

In [687]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [685]:
data[data.budget == data.budget.max()][['original_title', 'imdb_id', 'budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [686]:
data.query('budget == budget.max()')[['original_title', 'imdb_id', 'budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 3

In [187]:
data[['original_title', 'imdb_id', 'budget']].sort_values(['budget'], ascending=False).head(1)

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [688]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [189]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

ВАРИАНТ 2

In [190]:
data.query('runtime == runtime.max()')[['original_title', 'imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

ВАРИАНТ 3

In [191]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime'], ascending=False).head(1)

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [689]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [193]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

ВАРИАНТ 2

In [194]:
data.query('runtime == runtime.min()')[['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

ВАРИАНТ 3

In [195]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime']).head(1)

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [690]:
answers['4'] = 110

In [197]:
round(data.runtime.mean())

110

ВАРИАНТ 2

In [198]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [691]:
answers['5'] = 107

In [200]:
round(data.runtime.median())

107

ВАРИАНТ 2

In [201]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [692]:
answers['6'] = 'Avatar (tt0499549)'

In [212]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

ВАРИАНТ 2

In [213]:
data.query('profit == profit.max()')[['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

ВАРИАНТ 3

In [214]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit'], ascending=False).head(1)

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [693]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [216]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

ВАРИАНТ 2

In [217]:
data.query('profit == profit.min()')[['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

ВАРИАНТ 3

In [218]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [694]:
answers['8'] = 1478

In [220]:
data.query('profit > 0').nunique()

imdb_id                 1478
budget                   177
revenue                 1476
original_title          1476
cast                    1467
director                 774
tagline                 1471
overview                1478
runtime                  100
genres                   548
production_companies    1268
release_date            1189
vote_average              44
release_year              16
profit                  1473
dtype: int64

ВАРИАНТ 2

In [221]:
data.query('profit > 0').imdb_id.nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [695]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [223]:
movies_2008 = data.query('release_year == 2008')
movies_2008.query('revenue == revenue.max()')[['original_title', 'imdb_id', 'revenue']]

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

ВАРИАНТ 2

In [224]:
data.query('release_year == 2008').sort_values('revenue', ascending=False)[['original_title', 'imdb_id', 'revenue']].head(1)

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [696]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [228]:
movies_2012to2014 = data.query('2012 <= release_year <= 2014')
movies_2012to2014.query('profit == profit.min()')[['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

ВАРИАНТ 2

In [230]:
data.query('2012 <= release_year <= 2014').sort_values('profit')[['original_title', 'imdb_id', 'profit']].head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 11. Какого жанра фильмов больше всего?

In [697]:
answers['11'] = 'Drama'

In [667]:
pd.DataFrame(column_list(data.genres)).value_counts().head(1) # the list comes from function

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [698]:
answers['12'] = 'Drama'

In [665]:
profitable_by_genre = {}
for genre in column_set(data.genres): # the set comes from function
    movies_by_genre = data[data.genres.str.contains(genre, na=False)]
    profitable_by_genre[genre] = movies_by_genre.query('profit > 0').imdb_id.count()
max(profitable_by_genre, key=profitable_by_genre.get)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [699]:
answers['13'] = 'Peter Jackson'

In [307]:
data.groupby('director').revenue.sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [700]:
answers['14'] = 'Robert Rodriguez'

In [670]:
movies_action = data[data.genres.str.contains('Action', na=False)]
pd.DataFrame(column_list(movies_action.director)).value_counts().head(1) #the list comes from function

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [701]:
answers['15'] = 'Chris Hemsworth'

In [671]:
data_year2012 = data.query('release_year == 2012')

revenue_by_actor = {}
for actor in column_set(data_year2012.cast): #the set comes from function
    revenue_by_actor[actor] = data_year2012[data_year2012.cast.str.contains(actor, na=False)].revenue.sum()
max(revenue_by_actor, key=revenue_by_actor.get)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [702]:
answers['16'] = 'Matt Damon'

In [673]:
data_high_budget = data.query('budget > budget.mean()')
pd.DataFrame(column_list(data_high_budget.cast)).value_counts().head(1) #the list comes from function

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [703]:
answers['17'] = 'Action'

In [674]:
movies_NicolasCage = data[data.cast.str.contains('Nicolas Cage', na=False)]
pd.DataFrame(column_list(movies_NicolasCage.genres)).value_counts().head(1) #the list comes from function

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [704]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [362]:
data_ParamountPictures = data[data.production_companies.str.contains('Paramount Pictures', na=False)]
data_ParamountPictures.query('profit == profit.min()')[['original_title', 'imdb_id', 'profit']]

           original_title    imdb_id    profit
925  K-19: The Widowmaker  tt0267626 -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [705]:
answers['19'] = 2015

In [365]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [706]:
answers['20'] = 2012

In [648]:
data_WarnerBros = data[data.production_companies.str.contains('Warner Bros', na=False)]
data_WarnerBros.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [707]:
answers['21'] = 'Сентябрь'

In [389]:
month_list = []
for s in data.release_date:
    month_list.append((s.split("/")[0]))
pd.DataFrame(month_list).value_counts().head(1)

9    227
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [708]:
answers['22'] = 450

In [427]:
data[data.release_date.str.match(pat = '(6/)|(7/)|(8/)', na=False)].imdb_id.nunique()

450

ВАРИАНТ 2

In [394]:
count = 0
for s in data.release_date:
    if 6 <= int(s.split("/")[0]) <= 8:
        count += 1
count

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [709]:
answers['23'] = 'Peter Jackson'

In [675]:
data_winter = data[data.release_date.str.match(pat = '(1/)|(2/)|(12/)', na=False)]
pd.DataFrame(column_list(data_winter.director)).value_counts().head(1) #the list comes from function

Peter Jackson    7
dtype: int64

In [676]:
# Это результат если отвечать непосредственно на поставленный вопрос:
# "Для какого режиссера зима — самое продуктивное время года?"

for director in column_set(data.director): #the set comes from function
    data_director = data[data.director.str.contains(director, na=False)]
    winter = 0;    spring = 0;    summer = 0;    fall = 0
    for date in data_director.release_date:
        if 3 <= int(date.split("/")[0]) <= 5:
            spring += 1
        elif 6 <= int(date.split("/")[0]) <= 8:
            summer += 1
        elif 9 <= int(date.split("/")[0]) <= 11:
            fall += 1
        else:
            winter += 1
    if (winter > spring) and (winter > summer) and (winter > fall):
        print(director)
        
# Как видно таких режиссеров много

Gavin O'Connor
Nicolas Winding Refn
John Boorman
Christopher B. Landon
Peter Jackson
Niki Caro
P.J. Hogan
Jim Gillespie
MÃ¥ns MÃ¥rlind
Christian E. Christiansen
Marcus Nispel
Alan Parker
Barry Cook
David Wain
Brian Levant
Frederik Du Chau
Robert De Niro
George Armitage
Todd Edwards
Joe Carnahan
Chris Koch
Demian Lichtenstein
Julie Anne Robinson
Jonathan van Tulleken
J. Mackye Gruber
Peter Webber
Edward Zwick
Joel Zwick
Glen Morgan
Mel Gibson
James Watkins
Diane Keaton
GrÃ©gory Levasseur
Ericson Core
James L. Brooks
Ed Gass-Donnelly
Dean Israelite
Pat O'Connor
Anthony Hemingway
Glenn Ficarra
Rob Reiner
BjÃ¶rn Stein
Stefen Fangmeier
Callan Brunker
Griffin Dunne
Andy Muschietti
Kurt Wimmer
Dewey Nicks
Spike Jonze
Nancy Meyers
Asger Leth
Stephen Daldry
Alister Grierson
Joseph Kahn
Jonas Elmer
Tyler Gillett
Henry Selick
Lexi Alexander
Tim Burton
Lasse HallstrÃ¶m
Jonathan Teplitzky
Mark Waters
Rusty Cundieff
Jeremy Garelick
John Requa
Scott Cooper
John Whitesell
Russell Crowe
Rajkumar Hirani
Denzel Washington
David Moreau
Florian Henckel von Donnersmarck
Matthew O'Callaghan
Clint Eastwood
Wayne Wang
Jean-FranÃ§ois Richet
Angelina Jolie
Rodrigo GarcÃ­a
Andy Tennant
Wes Craven
Jon M. Chu
Will Graham
Mike Nichols
Brad Anderson
Mark Pellington
Gabriele Muccino
Ric Roman Waugh
Martin Scorsese
Stephen Kay
Chris Gorak
Justin Chadwick
Dave Meyers
Patrick Lussier
James Duffy
Sergey Bodrov
Walter Hill
JosÃ© Padilha
Ben Younger
Jason Friedberg
Frank Marshall
Steve Carr
Paul Thomas Anderson
Sara Sugarman
Ari Sandel
Mark Steven Johnson
Ronald F. Maxwell
Robin Budd
Francine McDougall
David O. Russell
Paul Tibbitt
Sylvester Stallone
Giuseppe Tornatore
Guy Ferland
Akiva Goldsman
Gregory Hoblit
Neil Nightingale
John Polson
Chris Noonan
Alex Garland
Rob Marshall
Dean Parisot
Shana Feste
Kevin Allen
Anand Tucker
Donald Petrie
Michael Winterbottom
Ava DuVernay
Tamra Davis
Eric Bress
Shawn Levy
Michael Rymer
Mike McCoy
Mennan Yapo
Pierre Morel
Marc Lawrence
Clare Kilner
Allen Hughes
David S. Goyer
Harmony Korine
Wayne Kramer
Matt Bettinelli-Olpin
Anthony Minghella
Tony Leech
Joe Roth
Cory Edwards
John Frankenheimer
Joel Gallen
Tommy Wirkola
Benny Chan
Adam Shankman
Aaron Seltzer
David Leland
Steven Soderbergh
Xavier Palud
Jack Sholder
Donovan Cook
Sam Taylor-Johnson
Stuart Baird
Thomas Carter
Michael Sucsy
Steve Trenbirth
Carl Rinsch
Jeff Schaffer
Christopher Spencer
Patrick Tatopoulos
Ben Garant
Richard Eyre
Garth Jennings
Patrik Forsberg
Tom Gormican
Ron Shelton

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [710]:
answers['24'] = 'Four By Two Productions'

In [679]:
collect = {} #Dictionary for average title length by production company
for production_company in column_set(data.production_companies):#the set comes from function
    data_production_company = data[data.production_companies.str.contains(production_company, na=False)] #DF for each comp
    count_list = []
    for title in data_production_company.original_title: # collects lengths of titles from company's DF
        count_list.append(len(title))
    collect[production_company] = np.average(count_list)
    
max(collect, key=collect.get)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [711]:
answers['25'] = 'Midnight Picture Show'

In [680]:
collect = {} #dictionary for average overview length by production company
for production_company in column_set(data.production_companies): #the set comes from function
    data_production_company = data[data.production_companies.str.contains(production_company, na=False)] #DF for each company
    count_list = []
    for overview in data_production_company.overview: #collects length of overview from company's DF
        count_list.append(len(overview.split()))
    collect[production_company] = np.average(count_list)
    
max(collect, key=collect.get)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [712]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [681]:
top_percent = round(data.vote_average.count()*0.01)
data[['original_title', 'vote_average']].sort_values(['vote_average'], ascending=False).head(top_percent)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

ВАРИАНТ 2

In [478]:
print(data.vote_average.describe(percentiles=[.99]))
data.query('vote_average > 7.8').sort_values('vote_average', ascending=False)[['original_title', 'vote_average']]

count    1889.000000
mean        6.140762
std         0.764763
min         3.300000
50%         6.100000
99%         7.800000
max         8.100000
Name: vote_average, dtype: float64

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [713]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [550]:
count = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')   
    for j in list(combinations(artists, 2)):
        if j not in count:
            count[j] = 1
        else:
            count[j] += 1
count.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2 (БЕЗ Combinations и Counter,  НЕ РАБОТАЕТ ИЗ-ЗА ПЕРЕГРУЗА ДАННЫХ)

In [682]:
collect = {}
for i in column_set(data.cast): #the set comes from function
    for j in actors_set:
        if i != j:
            collect[i+j] = data[data.cast.str.contains(i) & data.cast.str.contains(j)].imdb_id.count()
max(collect, key=collect.get)

KeyboardInterrupt:

# Submission

In [714]:
answers

{'12': 'Drama',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2012,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [715]:
len(answers)

27