In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('C:/Users/enasy/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1117,tt0251127,50000000,177371441,How to Lose a Guy in 10 Days,Kate Hudson|Matthew McConaughey|Kathryn Hahn|A...,Donald Petrie,One of them is lying. So is the other.,"An advice columnist, Andie Anderson (Kate Huds...",116,Comedy|Romance,Paramount Pictures,2/7/2003,6.2,2003
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015
1567,tt0332452,175000000,497409852,Troy,Brad Pitt|Orlando Bloom|Eric Bana|Brian Cox|Se...,Wolfgang Petersen,For passion. For honor. For destiny. For victo...,"In year 1250 B.C. during the late Bronze age, ...",163,War|Adventure|Drama,Plan B Entertainment|Warner Bros.|Nimar Studio...,5/13/2004,6.8,2004
815,tt1412386,10000000,136836156,The Best Exotic Marigold Hotel,Bill Nighy|Maggie Smith|Tom Wilkinson|Judi Den...,John Madden,Share the journey. Share the laughter.,British retirees travel to India to take up re...,124,Drama|Comedy,Participant Media|Imagenation Abu Dhabi FZ,11/28/2011,6.8,2011
1292,tt1322269,25000000,74188937,August: Osage County,Meryl Streep|Julia Roberts|Chris Cooper|Ewan M...,John Wells,Misery loves family.,A look at the lives of the strong-willed women...,121,Comedy|Drama,Jean Doumanian Productions|Smokehouse Pictures,12/26/2013,6.8,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
# creates dictionary for answers:
answers = {} 

# Adds additional column showing profit:
data['profit'] = data['revenue'] - data['budget']


# Devides items in any column by "|" symbol and returns a list:
def column_list(column):
    column_list = []
    for s in column:
        column_list.extend(s.split("|"))
    return(column_list)


# Devides items in any column by "|" symbol and returns a set (only unique names):
def column_set(column):
    column_list = []
    for s in column:
        column_list.extend(s.split("|"))
    column_set = set(column_list)
    return(column_set)

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data[data.budget == data.budget.max()][['original_title', 'imdb_id', 'budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [7]:
data.query('budget == budget.max()')[['original_title', 'imdb_id', 'budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 3

In [8]:
data[['original_title', 'imdb_id', 'budget']].sort_values(['budget'], ascending=False).head(1)

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [10]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

ВАРИАНТ 2

In [11]:
data.query('runtime == runtime.max()')[['original_title', 'imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

ВАРИАНТ 3

In [12]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime'], ascending=False).head(1)

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [14]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

ВАРИАНТ 2

In [15]:
data.query('runtime == runtime.min()')[['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

ВАРИАНТ 3

In [16]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime']).head(1)

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [17]:
answers['4'] = 110

In [18]:
round(data.runtime.mean())

110

ВАРИАНТ 2

In [19]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [20]:
answers['5'] = 107

In [21]:
round(data.runtime.median())

107

ВАРИАНТ 2

In [22]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [23]:
answers['6'] = 'Avatar (tt0499549)'

In [24]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

ВАРИАНТ 2

In [25]:
data.query('profit == profit.max()')[['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

ВАРИАНТ 3

In [26]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit'], ascending=False).head(1)

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [27]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [28]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

ВАРИАНТ 2

In [29]:
data.query('profit == profit.min()')[['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

ВАРИАНТ 3

In [30]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [31]:
answers['8'] = 1478

In [32]:
data.query('profit > 0').nunique()

imdb_id                 1478
budget                   177
revenue                 1476
original_title          1476
cast                    1467
director                 774
tagline                 1471
overview                1478
runtime                  100
genres                   548
production_companies    1268
release_date            1189
vote_average              44
release_year              16
profit                  1473
dtype: int64

ВАРИАНТ 2

In [33]:
data.query('profit > 0').imdb_id.nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [34]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [35]:
movies_2008 = data.query('release_year == 2008')
movies_2008.query('revenue == revenue.max()')[['original_title', 'imdb_id', 'revenue']]

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

ВАРИАНТ 2

In [36]:
data.query('release_year == 2008').sort_values('revenue', ascending=False)[['original_title', 'imdb_id', 'revenue']].head(1)

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [37]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [38]:
movies_2012to2014 = data.query('2012 <= release_year <= 2014')
movies_2012to2014.query('profit == profit.min()')[['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

ВАРИАНТ 2

In [39]:
data.query('2012 <= release_year <= 2014').sort_values('profit')[['original_title', 'imdb_id', 'profit']].head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 11. Какого жанра фильмов больше всего?

In [40]:
answers['11'] = 'Drama'

In [41]:
pd.DataFrame(column_list(data.genres)).value_counts().head(1) # the list comes from function

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
answers['12'] = 'Drama'

In [43]:
profitable_by_genre = {}
for genre in column_set(data.genres): # the set comes from function
    movies_by_genre = data[data.genres.str.contains(genre, na=False)]
    profitable_by_genre[genre] = movies_by_genre.query('profit > 0').imdb_id.count()
max(profitable_by_genre, key=profitable_by_genre.get)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [44]:
answers['13'] = 'Peter Jackson'

In [45]:
data.groupby('director').revenue.sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [46]:
answers['14'] = 'Robert Rodriguez'

In [47]:
movies_action = data[data.genres.str.contains('Action', na=False)]
pd.DataFrame(column_list(movies_action.director)).value_counts().head(1) #the list comes from function

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
answers['15'] = 'Chris Hemsworth'

In [49]:
data_year2012 = data.query('release_year == 2012')

revenue_by_actor = {}
for actor in column_set(data_year2012.cast): #the set comes from function
    revenue_by_actor[actor] = data_year2012[data_year2012.cast.str.contains(actor, na=False)].revenue.sum()
max(revenue_by_actor, key=revenue_by_actor.get)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [50]:
answers['16'] = 'Matt Damon'

In [51]:
data_high_budget = data.query('budget > budget.mean()')
pd.DataFrame(column_list(data_high_budget.cast)).value_counts().head(1) #the list comes from function

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [52]:
answers['17'] = 'Action'

In [53]:
movies_NicolasCage = data[data.cast.str.contains('Nicolas Cage', na=False)]
pd.DataFrame(column_list(movies_NicolasCage.genres)).value_counts().head(1) #the list comes from function

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [54]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [55]:
data_ParamountPictures = data[data.production_companies.str.contains('Paramount Pictures', na=False)]
data_ParamountPictures.query('profit == profit.min()')[['original_title', 'imdb_id', 'profit']]

           original_title    imdb_id    profit
925  K-19: The Widowmaker  tt0267626 -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
answers['19'] = 2015

In [57]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [58]:
answers['20'] = 2012

In [59]:
data_WarnerBros = data[data.production_companies.str.contains('Warner Bros', na=False)]
data_WarnerBros.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [60]:
answers['21'] = 'Сентябрь'

In [61]:
month_list = []
for s in data.release_date:
    month_list.append((s.split("/")[0]))
pd.DataFrame(month_list).value_counts().head(1)

9    227
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
answers['22'] = 450

In [63]:
data[data.release_date.str.match(pat = '(6/)|(7/)|(8/)', na=False)].imdb_id.nunique()

450

ВАРИАНТ 2

In [64]:
count = 0
for s in data.release_date:
    if 6 <= int(s.split("/")[0]) <= 8:
        count += 1
count

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [65]:
answers['23'] = 'Peter Jackson'

In [66]:
data_winter = data[data.release_date.str.match(pat = '(1/)|(2/)|(12/)', na=False)]
pd.DataFrame(column_list(data_winter.director)).value_counts().head(1) #the list comes from function

Peter Jackson    7
dtype: int64

In [67]:
# Это результат если отвечать непосредственно на поставленный вопрос:
# "Для какого режиссера зима — самое продуктивное время года?"

for director in column_set(data.director): #the set comes from function
    data_director = data[data.director.str.contains(director, na=False)]
    winter = 0;    spring = 0;    summer = 0;    fall = 0
    for date in data_director.release_date:
        if 3 <= int(date.split("/")[0]) <= 5:
            spring += 1
        elif 6 <= int(date.split("/")[0]) <= 8:
            summer += 1
        elif 9 <= int(date.split("/")[0]) <= 11:
            fall += 1
        else:
            winter += 1
    if (winter > spring) and (winter > summer) and (winter > fall):
        print(director)
        
# Как видно таких режиссеров много

Henry Selick
Paul Thomas Anderson
Mark Steven Johnson
Julie Anne Robinson
Clare Kilner
Joseph Kahn
Dean Israelite
Ed Gass-Donnelly
Alister Grierson
Frank Marshall
Brad Anderson
Benny Chan
Akiva Goldsman
Joel Gallen
Jean-FranÃ§ois Richet
Nicolas Winding Refn
Sergey Bodrov
Jeremy Garelick
Rob Reiner
Stefen Fangmeier
Kevin Allen
Ben Garant
David O. Russell
Glen Morgan
John Requa
Patrick Lussier
Steve Trenbirth
Peter Webber
Wes Craven
Denzel Washington
Matthew O'Callaghan
Lasse HallstrÃ¶m
Russell Crowe
Carl Rinsch
Anthony Minghella
Michael Sucsy
Andy Muschietti
John Boorman
P.J. Hogan
Clint Eastwood
Mark Pellington
Stuart Baird
Sara Sugarman
Steve Carr
James Duffy
Gregory Hoblit
David S. Goyer
Michael Winterbottom
Martin Scorsese
Giuseppe Tornatore
Frederik Du Chau
Mennan Yapo
Kurt Wimmer
Tyler Gillett
Lexi Alexander
GrÃ©gory Levasseur
Jeff Schaffer
Sam Taylor-Johnson
Rob Marshall
Gavin O'Connor
Rajkumar Hirani
Donald Petrie
James Watkins
Richard Eyre
David Moreau
Florian Henckel von Donnersmarck
Sylvester Stallone
Jonathan van Tulleken
Neil Nightingale
Ron Shelton
Wayne Kramer
Mike McCoy
Pierre Morel
Ava DuVernay
Jonas Elmer
Spike Jonze
Donovan Cook
Steven Soderbergh
Tom Gormican
Joel Zwick
Ronald F. Maxwell
Christopher Spencer
Robert De Niro
Marcus Nispel
Dean Parisot
Francine McDougall
Harmony Korine
Allen Hughes
Asger Leth
Mel Gibson
Alex Garland
Michael Rymer
Jonathan Teplitzky
Edward Zwick
John Polson
Scott Cooper
Thomas Carter
David Leland
Brian Levant
Paul Tibbitt
Jon M. Chu
Marc Lawrence
Tony Leech
John Whitesell
Will Graham
Tim Burton
Jim Gillespie
Anand Tucker
BjÃ¶rn Stein
Todd Edwards
Demian Lichtenstein
Alan Parker
Patrick Tatopoulos
Pat O'Connor
Jason Friedberg
Barry Cook
Patrik Forsberg
Griffin Dunne
Nancy Meyers
Stephen Daldry
Joe Carnahan
Robin Budd
John Frankenheimer
Diane Keaton
Gabriele Muccino
Niki Caro
Jack Sholder
Ric Roman Waugh
MÃ¥ns MÃ¥rlind
George Armitage
David Wain
Ericson Core
Wayne Wang
Cory Edwards
James L. Brooks
Eric Bress
Ben Younger
Andy Tennant
Glenn Ficarra
Rodrigo GarcÃ­a
Christian E. Christiansen
Rusty Cundieff
Chris Noonan
Callan Brunker
Aaron Seltzer
Angelina Jolie
Mark Waters
Anthony Hemingway
Matt Bettinelli-Olpin
Shana Feste
Chris Koch
Peter Jackson
Mike Nichols
Dave Meyers
J. Mackye Gruber
Adam Shankman
Chris Gorak
Ari Sandel
Christopher B. Landon
Justin Chadwick
Dewey Nicks
Tommy Wirkola
Guy Ferland
Tamra Davis
JosÃ© Padilha
Stephen Kay
Walter Hill
Shawn Levy
Xavier Palud
Joe Roth
Garth Jennings

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [68]:
answers['24'] = 'Four By Two Productions'

In [69]:
collect = {} #Dictionary for average title length by production company
for production_company in column_set(data.production_companies):#the set comes from function
    data_production_company = data[data.production_companies.str.contains(production_company, na=False)] #DF for each comp
    count_list = []
    for title in data_production_company.original_title: # collects lengths of titles from company's DF
        count_list.append(len(title))
    collect[production_company] = np.average(count_list)
    
max(collect, key=collect.get)

C:\Users\enasy\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\enasy\anaconda3\lib\site-packages\numpy\lib\function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\enasy\anaconda3\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [70]:
answers['25'] = 'Midnight Picture Show'

In [71]:
collect = {} #dictionary for average overview length by production company
for production_company in column_set(data.production_companies): #the set comes from function
    data_production_company = data[data.production_companies.str.contains(production_company, na=False)] #DF for each company
    count_list = []
    for overview in data_production_company.overview: #collects length of overview from company's DF
        count_list.append(len(overview.split()))
    collect[production_company] = np.average(count_list)
    
max(collect, key=collect.get)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [72]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [73]:
top_percent = round(data.vote_average.count()*0.01)
data[['original_title', 'vote_average']].sort_values(['vote_average'], ascending=False).head(top_percent)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

ВАРИАНТ 2

In [74]:
print(data.vote_average.describe(percentiles=[.99]))
data.query('vote_average > 7.8').sort_values('vote_average', ascending=False)[['original_title', 'vote_average']]

count    1889.000000
mean        6.140762
std         0.764763
min         3.300000
50%         6.100000
99%         7.800000
max         8.100000
Name: vote_average, dtype: float64

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [75]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [76]:
count = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')   
    for j in list(combinations(artists, 2)):
        if j not in count:
            count[j] = 1
        else:
            count[j] += 1
count.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2 (БЕЗ Combinations и Counter,  НЕ РАБОТАЕТ ИЗ-ЗА ПЕРЕГРУЗА ДАННЫХ)

In [78]:
collect = {}
for i in column_set(data.cast): #the set comes from function
    for j in column_set(data.cast):
        if i != j:
            collect[i+j] = data[data.cast.str.contains(i) & data.cast.str.contains(j)].imdb_id.count()
max(collect, key=collect.get)

KeyboardInterrupt:

# Submission

In [79]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2012,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [80]:
len(answers)

27